<template>
  <div>
    <gl-new-dropdown icon="notifications" split>
      <gl-dropdown-header>First group</gl-dropdown-header>
      <gl-dropdown-item>First item</gl-dropdown-item>
      <gl-dropdown-item>Second item</gl-dropdown-item>
    </gl-new-dropdown>
    <gl-new-dropdown icon="notifications" split size="small">
      <gl-dropdown-header>First group</gl-dropdown-header>
      <gl-dropdown-item>First item</gl-dropdown-item>
      <gl-dropdown-item>Second item</gl-dropdown-item>
    </gl-new-dropdown>
  </div>
</template>
