<template>
  <gl-new-dropdown text="Some dropdown">
    <gl-dropdown-item href="https://about.gitlab.com/">First link</gl-dropdown-item>
    <gl-dropdown-item href="https://about.gitlab.com/">Second link</gl-dropdown-item>
    <gl-dropdown-item href="https://about.gitlab.com/">Last link</gl-dropdown-item>
  </gl-new-dropdown>
</template>
