.gl-dropdown {
  .gl-dropdown-caret {
    @include gl-ml-2;
  }

  .dropdown-toggle::after {
    @include gl-display-none;
  }

  .dropdown-toggle-split::after {
    // Replace bootstrap's dropdown caret with a chevron icon
    @include gl-border-0;
    @include gl-content-empty;
    @include gl-display-block;
    @include gl-w-5;
    @include gl-h-5;
    @include gl-bg-chevron-down;
  }
}
