<template>
  <div>
    <gl-new-button label>Label</gl-new-button>
    <gl-new-button size="small" label>Label</gl-new-button>
    <gl-button-group>
      <gl-new-button label>b29cc44d</gl-new-button>
      <gl-new-button icon="duplicate" />
      <gl-new-button icon="folder-open" />
    </gl-button-group>
  </div>
</template>
