$gl-drawer-width: 400px;

.gl-drawer {
  @include gl-bg-white;
  @include gl-right-0;
  @include gl-transition-medium;
  @include gl-fixed;
  @include gl-h-full;
  @include gl-overflow-y-auto;
  @include gl-shadow-drawer;
  @include gl-font-base;
  @include gl-line-height-normal;

  width: $gl-drawer-width;

  @include media-breakpoint-down(sm) {
    @include gl-w-full;
  }
}

.gl-drawer-header {
  @include gl-display-flex;
  @include gl-align-items-center;
  @include gl-justify-content-space-between;
  @include gl-border-b-solid;
  @include gl-border-b-gray-200;
  @include gl-border-b-1;
  @include gl-px-6;
  @include gl-py-5;

  svg {
    @include gl-w-5;
    @include gl-h-5;
    @include gl-vertical-align-middle;
  }
}

.gl-drawer-close-button {
  @include gl-bg-none;
  @include gl-border-none;
}

.gl-drawer-body > * {
  @include gl-border-b-solid;
  @include gl-border-b-gray-200;
  @include gl-border-b-1;

  @include gl-px-6;
  @include gl-py-5;

  &:last-child {
    @include gl-border-none;
  }
}

.gl-drawer-enter-to {
  @include gl-transform-x-0;
}

.gl-drawer-enter,
.gl-drawer-leave-to {
  @include gl-transform-x-100;
}

.gl-drawer-enter-active,
.gl-drawer-leave-active {
  @include gl-transition-medium;
}
