/**
* Text color utilities.
*
* naming convention: gl-text-{color-palette-variable-name}
* notes:
* - Strictly based design system color palette. See variables.scss
* for a comprehensive list.
*/

@mixin gl-color-inherit {
  color: inherit;
}

@mixin gl-text-white {
  color: $white;
}

@mixin gl-text-white-light {
  color: $white-light;
}

@mixin gl-text-black-normal {
  color: $black-normal;
}

@mixin gl-text-gray-400 {
  color: $gray-400;
}

@mixin gl-text-gray-500 {
  color: $gray-500;
}

@mixin gl-text-gray-600 {
  color: $gray-600;
}

@mixin gl-text-gray-700 {
  color: $gray-700;
}

@mixin gl-text-gray-900 {
  color: $gray-900;
}

@mixin gl-text-gray-950 {
  color: $gray-950;
}

@mixin gl-text-blue-300 {
  color: $blue-300;
}

@mixin gl-text-blue-500 {
  color: $blue-500;
}

@mixin gl-text-blue-600 {
  color: $blue-600;
}

@mixin gl-text-blue-700 {
  color: $blue-700;
}

@mixin gl-text-blue-800 {
  color: $blue-800;
}

@mixin gl-text-green-400 {
  color: $green-400;
}

@mixin gl-text-green-500 {
  color: $green-500;
}

@mixin gl-text-green-600 {
  color: $green-600;
}

@mixin gl-text-green-700 {
  color: $green-700;
}

@mixin gl-text-green-800 {
  color: $green-800;
}

@mixin gl-text-theme-green-800 {
  color: $theme-green-800;
}

@mixin gl-text-orange-500 {
  color: $orange-500;
}

@mixin gl-text-orange-600 {
  color: $orange-600;
}

@mixin gl-text-orange-700 {
  color: $orange-700;
}

@mixin gl-text-orange-800 {
  color: $orange-800;
}

@mixin gl-text-orange-900 {
  color: $orange-900;
}

@mixin gl-text-red-500 {
  color: $red-500;
}

@mixin gl-text-red-600 {
  color: $red-600;
}

@mixin gl-text-red-700 {
  color: $red-700;
}

@mixin gl-text-red-800 {
  color: $red-800;
}

@mixin gl-text-inherit {
  color: inherit;
}
